<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1> Editing User : <%= @user.email %></h1>
        <hr>
        <%= link_to 'Back', users_path,class:"btn btn-md btn-warning" %>
<hr>

<%= form_for (@user) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br>
    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password,class:"form-control" ,required: true%>
    </div>
    <br>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.text_field :password_confirmation,class:"form-control" %>
    </div>
    <br>

    <hr>
    <div class="actions">
      <%= form.submit class:"btn btn-md btn-success pull-right"%>
    </div>
    <br>
<% end %>



</div>
    </div>
  </div>
</div>





