


  <div class="panel panel-default">
    <div class="panel-body">



      <h1><span class="glyphicon glyphicon-user"> </span> | Employés</h1>
      <hr>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Importation</h4>
            </div>
            <div class="modal-body">
              <%= form_tag import_users_path, multipart: true do %>
                <%= file_field_tag :file %>

            </div>
            <div class="modal-footer">
              <%= submit_tag "Importer", class: "btn btn-success form-control" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>



      <% if can? :update, @user %>
      <div class="panel panel-default">
        <div class="panel-heading"> <%= link_to 'Nouvel employé', new_user_path ,class:"btn btn-success"%> |
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Importer des employés en CSV
          </button>

        </div>
          <div class="panel-body">
      <% end %>
      <div class="row">
        <div class="col-sm-9">
          <div class="dataTables_length input-group" id="example_length">
            <div class="col-sm-2">
              <span>Voir</span>
            </div>
            <div class="col-sm-6" style="margin-left: 10px">
              <%= select_tag(:count,options_for_select([10,25,50], selected: session[:per_pages]),class:"form-control input-sm", onchange:"SelectSearch(id,'users','')", id:"select" )%>
            </div>
            <span>entrées</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="example_filter" class="dataTables_filter">
            <%= search_field_tag "search_champ",session[:data] ,{class:"form-control input-sm",placeholder:"Chercher",onKeyUp:"SelectSearch(id,'users','')" }%>
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="table_search" style="padding: 10px">
        <%= render(:partial => 'index', locals: {paginate: @paginate})%>
      </div>
      </div>
      </div>
    </div>

  </div>
</div>

