<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :department_name ,class: 'form-control' , require: true%>
  </div>


  <div class="field">
    <%= form.label :user_id ,"Résponsable du département"%>
    <%= form.select :user_id, User.all.collect { |p| [p.name, p.id] }, {prompt: "select a contact"}, class: 'form-control' %>
  </div>

<!--  <div class="field">
    <%#= form.label :user_id %>
    <%#= form.number_field :user_id, id: :department_user_id %>
  </div>-->

  <div class="actions">
    <%= form.submit class:"btn btn-md btn-success pull-right"  %>
  </div>
<% end %>













