<%= form_with(model: @sale, local: true) do |form| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, :value => action_name == 'new' ? Time.now.strftime("%d/%m/%Y") : @sale.date , class: 'datepicker form-control', 'data-date-format'=>"dd/mm/yyyy", required: true, id:'date',tabindex:"1"  %>
  </div>
<!--

<br>
    <div class="field">
      <%= form.label :customer_id %>
      <%= form.select :customer_id, options_from_collection_for_select(Customer.all,'id','raison'),{},class:"form-control"%>
    </div>
<br>
-->



    <br>
    <div class="field">
      <%= form.label :contact_id %>
      <%= form.select :contact_id, options_for_select(ContactRole.where(role_id: 1).map{ |s| [s.contact.raison, s.contact_id] if s.contact != nil }.compact),{prompt: "select a contact"} , class: 'form-control' %>
    </div>
    <br>


    <hr>
  <div class="actions">
    <%= form.submit class:"btn btn-md btn-success pull-right"%>
  </div>
    <br>
<% end %>

<script>
    $(function() {
        $( "#date" ).datepicker({
            dateFormat : 'mm/dd/yy',
            changeMonth : true,
            changeYear : true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
    });

</script>

<script>
    var e3 = document.getElementById('date');
    if(e3) {
        e3.addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,2})(\d{0,4})/);
            e.target.value = (x[1] ? x[1] : '') + (x[2] ? '/' + x[2] : '') + (x[3] ? '/' + x[3] : '');
        });}
</script>
